<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{292,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{292,55}}</string>
                <key>sourceSize</key>
                <string>{300,65}</string>
            </dict>
            <key>developing.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1069},{429,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,53}}</string>
                <key>sourceSize</key>
                <string>{429,53}</string>
            </dict>
            <key>dojo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,476},{358,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,20}}</string>
                <key>sourceSize</key>
                <string>{358,20}</string>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,577},{490,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,85}}</string>
                <key>sourceSize</key>
                <string>{490,85}</string>
            </dict>
            <key>home-desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,335},{161,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,91}}</string>
                <key>sourceSize</key>
                <string>{161,91}</string>
            </dict>
            <key>home-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,476},{640,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,183}}</string>
                <key>sourceSize</key>
                <string>{640,183}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,59},{288,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,135}}</string>
                <key>sourceSize</key>
                <string>{288,135}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,279},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>new-game.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,279},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,196},{70,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,42}}</string>
                <key>sourceSize</key>
                <string>{70,42}</string>
            </dict>
            <key>ninja.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,196},{244,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,81}}</string>
                <key>sourceSize</key>
                <string>{244,81}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1677},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>radioBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{675,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,515}}</string>
                <key>sourceSize</key>
                <string>{675,515}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,412},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,498},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,268},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>windowBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{725,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,229}}</string>
                <key>sourceSize</key>
                <string>{725,229}</string>
            </dict>
            <key>windowTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{720,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{720,109}}</string>
                <key>sourceSize</key>
                <string>{728,109}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,311},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>xf.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,311},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,471},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>xxf.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,443},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>xxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,378},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>xxxf.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,344},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90cfcef6ab31e89852792ef09b55b53f:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
